@charset "UTF-8";

/* Typical Device Breakpoints >> para verificar tamanho das telas oficial */
/* Pequenas telas: ate 600px
Celular: 600px ate 768px 
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px  */
/*
@media screen and (min-width: 992px){

    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > a {
        display: inline-block;
    }

    main {
        width: 992px;
    }
}*/



@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-color: rgb(3, 3, 3);
    }

    a {
        font-size: 1.1em;
    }

    nav > a {
        background-color: rgb(255, 118, 118);
        margin: 20px;
        display: inline;
        width: 100vw;
        text-align: left;
    }

}

@media screen and (min-width: 992px) {
    body {
        background-color: rgb(7, 7, 7);    
    }
    
    nav > a {
        background-color: rgb(255, 118, 118);
        margin: 20px;
        display: inline;
        width: 100vw;
        text-align: left;
    }

}